<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in boo %}
            <li>
                <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> by {{ book.author }}
            </li> 
            <a href="{% url 'book_update' book.pk %}">
                <button class = 'btn btn-primary'> Update </button>
            </a>
            <a href="{% url 'addbook' %}">
                <button class = 'btn btn-primary'> Add </button>
            </a>
            <a href="{% url 'book_delete' book.pk %}">
                <button class = 'btn btn-primary'> Delete </button>
            </a>
            <hr>
        {% empty %}
            <li>{{book.published_date}}</li>
            <li>{{book.title}}</li>
            <li>{{book.author}}</li>

        {% endfor %}
    </ul>
</body>
</html>